.channel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

.channel:hover {
    background-color: #26262C;
}

.title {
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.description {
    color: lightgray;
    font-size: 10px;
}


.details {
    margin: 0;
}

.live-updates {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.live-updates > i {
    padding-right: 5px;
}

.live-updates > p {
    font-size: 13px;
    padding-right: 10px;
}
