.profile {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.play-video-area {

}

.profile-area {

}

.content {
    position: absolute;
    top: 90%;
    width: 90%;
    padding: 20px;
    background-color: #0E0E10;
}