.profile-header {
    display: flex;
    width: 100%;
    
}

.setting-container {
    flex : 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pro-pic-container {
    flex: 1;
    display: flex;
    align-items: center;
    
}

.name-container {
    margin: 0px 10px;
}

.name-container > p {
    font-size: 13px;
}

.follow {
    display: flex;
    background-color:#772ee6;
    border-radius: 10px;
    height: 30px;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.follow:hover {
    background-color: #A66BFF;
}

.follow > p {
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.subcribe {
    display: flex;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    height: 30px;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    border-radius: 10px;
    margin: 0px 10px;
}

.subcribe > p {
    font-size: 13px;
}

.subcribe:hover {
    background-color: #3E3E40;
}