* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}
*::-webkit-scrollbar {
  width: 5px;
  display: none;
}
*::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 156);
  border-radius: 10px;
}
*::-webkit-scrollbar:hover {
  width: 5px;
  display: inline;
}

* {
  color: white;
}

.App {
  width: 100%;
  height: 90.7vh;
  /* display: flex; */
}

.main-container {
  display: flex;
  height: 100%;
}

.app-sidebar {
  width: 20%;
  height: 100%;
  background-color: #1F1F23;
  transition: width 30ms ease-in;
}

.app-body {
  width: 80%;
  height: 100%;
  background-color: #0E0E10;
  overflow-y: auto;
  transition: width 30ms ease-in;
}

.collapse-sidebar {
  width: 4%;
  height: 100%;
}

.app-body-max {
  width: 96%;
  height: 100%;
  background-color: #0E0E10;
  overflow-y: auto;
}
